<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Odyssée </title>
</head>

<body>
 <!-- Header -->
 <nav class="navbar navbar-expand-lg navbar-light">
    <a class="euralens" href="index.php">
      <img class="logo_euralens" src="img/logo/euralens.png" alt="logo euralens">
    </a>
    <a class="navbar-brand" href="#accueil">Odyssée</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navbar-brand" href="#programme">Programme
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#une">La Une</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#implique">Je participe</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#sejourne">Je séjourne</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#colloque">Le colloque</a>
        </li>
      </ul>
    </div>

    <div class="sociaux">
      <a class="logo_rs" href="http://www.euralens.org/">
        <img src="img/logo/FB.png" alt="logo facebook">
      </a>
      <a class="logo_rs" href="http://www.euralens.org/">
        <img src="img/logo/twiter.png" alt="logo twitter">
      </a>
      <a class="logo_rs" href="http://www.euralens.org/">
        <img src="img/logo/snapchat.png" alt="logo snapchat">
      </a>
      <a class="logo_rs" href="http://www.euralens.org/">
        <img src="img/logo/insta.png" alt="logo instagram">
      </a>
    </div>

    <div class="langue">
      <a class="logo_langue" href="euralens en french">
        <img src="img/logo/france.png" alt="logo changment de langue Fr">
      </a>
      <a class="logo_langue" href="euralens en english">
        <img src="img/logo/united-kingdom.png" alt="logo changment de langue En">
      </a>
      <a class="logo_langue" href="euralens en ch'ti">
        <img src="img/pgaccueil/logo_chti.png" alt="logo changment de langue chtimi">
      </a>
    </div>
  </nav>

  {% block body %}{% endblock %}

    <!-- Footer -->
  <footer class="navbar_footer" id="myNavbar">
    <a href="contact.php">Contact</a>
    <a href="partenaire.php">Partenaires</a>
    <a href="#presse">Espace presse</a>
    <a href="#telecharger">A télécharger</a>
    <a href="#newsletter">Newsletter</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="js/scroll_index.js"></script>
</body>

</html>