{% extends 'base.html.twig' %}

{% block body %}

  <section class="contentimplique">
    <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
      <div>
        <h1 class="participe">CONTACTs</h1>
      </div>
  </section>

  <!-- CODE POUR L'EXPLICATION DE LA PAGE -->
  <h2 class="titreimplcation">Contactez-nous</h2>
  <br>
  <br>
  <p class="explicationimplication">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui amet inventore distinctio, temporibus adipisci quis incidunt
    at non sed nemo tempora esse quisquam fuga corrupti, iusto, nesciunt dolore fugiat perspiciatis? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Excepturi dolorum, architecto delectus repellendus esse dignissimos, quaerat omnis
    nihil fuga voluptatum dolores maxime enim repudiandae veritatis minus doloremque quis illum sint. Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Sed aperiam fugiat corporis officiis quam veritatis aliquid delectus, tenetur
    porro numquam adipisci nobis distinctio sunt velit quod. Nesciunt veniam unde perspiciatis.
  </p>

{% endblock %}