{% extends 'base.html.twig' %}

{% block body %}
  <section class="contentimplique">
            <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
            <div>
                <h1 class="grdent">JE PARTICIPE</h1>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- FORMULAIRE DE CONTACT -->
        <section class="containerimplique">
            <div class="container">
                <div class="row formulaire">
                    <div class="col-md-6 ">
                        <div class="coloneGauche">
                            <h3>Habitant</h3>
                            <h4>Devenez Grand partenaire ODYSSÉE :</h4>
                            <p>- Visibilité de votre partenariat et présence de votre logo sur l’ensemble
                                    des supports de communication ODYSSÉE (diffusion régionale et
                                    nationale)
                                    <br>
                                    <br>

                                    - Événements privés spécifiques (soirée partenaires, visites, etc.)
                                    <br>
                                    
                                    - Invitations pour vos collaborateurs sur tous les événements, exemplaires
                                    du beau livre, de la BD</p>
                         
                        </div>
                    </div>

                   <div class="col-md-5">
                        <div class="coloneDroite">     
                            <h3>Remplissez le formulaire</h3>
                            <br>
                            <br>
                      <form action="formulairemailGentreprise.php" method="post">
  <div class="row">
<div class="col-md-6">
  <div class="form-group">
  <label for="inputname">Votre nom</label>
  <input required type="text" name="name" class="form-control" id="inputname" value="name">
  </div><!--/*.form-group-->
  </div><!--/*.col-md-6-->
<div class="col-md-6">
  <div class="form-group">
  <label for="inputemail">Votre email</label>
  <input required type="email" name="email" class="form-control" id="inputemail" value="email">
  </div><!--/*.form-group-->
  </div><!--/*.col-md-6-->
<div class="col-md-12">
  <div class="form-group">
  <label for="inputmessage">Votre message</label>
  <textarea required id="inputmessage" name="message" class="form-control"> </textarea>
  </div><!--/*.form-group-->
  </div><!--/*.col-md-12-->
{# <div class="col-md-12">
  <div class="checkbox">
  <label for="checkspam">
  <input type="checkbox" name="antispam" id="checkspam">Je ne suis pas un robot !
  </label>
  </div> #}
  </div><!--/*.col-md-12-->
<div class="col-md-12">
  <button type='submit' class='btn btn-primary'>Envoyer</button>
  </div><!--/*.col-md-12-->
</div><!--/*.row-->
  </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
{% endblock %}