{% extends 'base.html.twig' %}

{% block body %}
    <section class="contentimplique">
            <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
            <div>
                <h1 class="habitant">JE PARTICIPE</h1>
            </div>
        </section>
        
<!-- FORMULAIRE DE CONTACT -->
    <section class="containerimplique">     
        <div class="container">
             <div class="row formulaire">
                <div class="col-md-6 ">
                    <div class="coloneGauche">
                        <h3>Habitant</h3>
                        <h4>Devenez les Complices de cette ODYSSÉE :</h4>
                        <p>- Informations sur les événements en avant-première
                        <br> - Invitations en VIP
                        <br> - Cadeaux et goodies…
                        <br>
                        <br> Rejoignez le forum Euralens et témoignez de la manière dont vous contribuez à la transformation du territoire,
                            en tant que :
                        <br>
                        <br> - Bénévoles sur les différents événements
                        <br> - Acteurs de l’ODYSSÉE en participant à des réunions d’information et de consultation des habitants
                        <br> - Relais des informations à l’ensemble de votre réseau (famille, amis, collègues, etc.)</p> 
                    </div>
                </div>
                <div class="col-md-5">
                        <div class="coloneDroite">     
                            <h3>Remplissez le formulaire</h3>
                            <br>
                            <br>
                      <!-- CONTENT -->

<form action="formulairemailhabitant.php" method="post">
  <div class="row">
<div class="col-md-6">
  <div class="form-group">
  <label for="inputname">Votre nom</label>
  <input required type="text" name="name" class="form-control" id="inputname" value="name">
  </div><!--/*.form-group-->
  </div><!--/*.col-md-6-->
<div class="col-md-6">
  <div class="form-group">
  <label for="inputemail">Votre email</label>
  <input required type="email" name="email" class="form-control" id="inputemail" value="email">
  </div><!--/*.form-group-->
  </div><!--/*.col-md-6-->
<div class="col-md-12">
  <div class="form-group">
  <label for="inputmessage">Votre message</label>
  <textarea required id="inputmessage" name="message" class="form-control"> </textarea>
  </div><!--/*.form-group-->
  </div><!--/*.col-md-12-->
{# <div class="col-md-12">
  <div class="checkbox">
  <label for="checkspam">
  <input type="checkbox" name="antispam" id="checkspam">Je ne suis pas un robot !
  </label>
  </div> #}
  </div><!--/*.col-md-12-->
<div class="col-md-12">
  <button type='submit' class='btn btn-primary'>Envoyer</button>
  </div><!--/*.col-md-12-->
</div><!--/*.row-->
  </form>
</div><!--/*.container-->
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
              <!-- <br>
              <br>
              <br>
             
        <br>
        <br>
        <br>
        <br>
        <br> -->
    
{% endblock %}