{% extends 'base.html.twig' %}

{% block body %}
  <section class="contentimplique">
            <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
            <div>
                <h1 class="grdent">JE PARTICIPE</h1>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- FORMULAIRE DE CONTACT -->
        <section class="containerimplique">
            <div class="container">
                <div class="row formulaire">
                    <div class="col-md-6 ">
                        <div class="coloneGauche">
                            <h3>Habitant</h3>
                            <h4>Devenez Grand partenaire ODYSSÉE :</h4>
                            <p>- Visibilité de votre partenariat et présence de votre logo sur l’ensemble
                                    des supports de communication ODYSSÉE (diffusion régionale et
                                    nationale)
                                    <br>
                                    <br>

                                    - Événements privés spécifiques (soirée partenaires, visites, etc.)
                                    <br>
                                    
                                    - Invitations pour vos collaborateurs sur tous les événements, exemplaires
                                    du beau livre, de la BD</p>
                         
                        </div>
                    </div>

                   <div class="col-md-5">
                        <div class="coloneDroite">     
                            <h3>Remplissez le formulaire</h3>
                            <br>
                            <br>
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <input type="text" style="margin-top: 20px !important;"class="form-control" id="nom" placeholder="Nom">
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" style="margin-top: 20px !important;"class="form-control" id="prenom" placeholder="Prénom">
                                </div>
                                <div class="col-sm-10">
                                    <input type="email" style="margin-top: 20px !important;"class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="col-sm-10">
                                    <input type="number" style="margin-top: 20px !important;" class="form-control" id="tel" placeholder="Téléphone">
                                </div>
                            </div>
                            <div class="form-group row">
                            </div>
                            <fieldset class="form-group">            
                                <br>
                                <div class="form-group">
                                    <br>
                                    <label for="exampleFormControlTextarea1">Vos motivations</label>
                                    <textarea class="form-control" id="textmessage" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary" style="margin-left: 0px !important">Submit</button>
                            </div>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
{% endblock %}