{% extends 'base.html.twig' %}

{% block body %}
   <section class="contentimplique">
    <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
      <div>
        <h1 class="participe">JE PARTICIPE</h1>
      </div>
  </section>

  <!-- CODE POUR L'EXPLICATION DE LA PAGE -->
  <h2 class="titreimplcation">Pourquoi je participe ?</h2>
  <br>
  <br>
  <p class="explicationimplication">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui amet inventore distinctio, temporibus adipisci quis incidunt
    at non sed nemo tempora esse quisquam fuga corrupti, iusto, nesciunt dolore fugiat perspiciatis? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Excepturi dolorum, architecto delectus repellendus esse dignissimos, quaerat omnis
    nihil fuga voluptatum dolores maxime enim repudiandae veritatis minus doloremque quis illum sint. Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Sed aperiam fugiat corporis officiis quam veritatis aliquid delectus, tenetur
    porro numquam adipisci nobis distinctio sunt velit quod. Nesciunt veniam unde perspiciatis.
  </p>

  <!-- CODE POUR LE FORMULAIRE -->
  <br>
  <br>
  <section class="containerimplique">
      <div class="container">
        <div class="row formulaire">
          <div class="col-md-4 ">
            <div class="coloneGauche">
              <h3>Habitant</h3>
              <h4>Devenez les Complices de cette ODYSSÉE :</h4>
              <p>- Informations sur les événements en avant-première
                <br> - Invitations en VIP
                <br> - Cadeaux et goodies…
                <br>
                <br> Rejoignez le forum Euralens et témoignez de la manière dont vous contribuez à la transformation du territoire,
                en tant que :
                <br>
                <br> - Bénévoles sur les différents événements
                <br> - Acteurs de l’ODYSSÉE en participant à des réunions d’information et de consultation des habitants
                <br> - Relais des informations à l’ensemble de votre réseau (famille, amis, collègues, etc.)</p>
            </div>
            <div>
              <a href="formulairehabitant.php">
                <img class="boutform" src="/img/logo/Logo_bouton.png" alt="Logo Odyssée">
                <p class="lienimp">cliquez vers le formulaire</p>
              </a>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="coloneMilieux">
              <h3>Grands groupes, PME, commerçants</h3>
              <h4>Devenez Grand partenaire ODYSSÉE :</h4>
              <p>- Visibilité de votre partenariat et présence de votre logo sur l’ensemble des supports de communication ODYSSÉE
                (diffusion régionale et nationale)
                <br>
                <br> - Événements privés spécifiques (soirée partenaires, visites, etc.)
                <br> - Invitations pour vos collaborateurs sur tous les événements, exemplaires du beau livre, de la BD</p>
                <a href="formulaireGentreprise.php">
                  <img class="boutform" src="/img/logo/Logo_bouton.png" alt="Logo Odyssée">
                  <p class="lienimp">cliquez vers le formulaire</p>
                </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="coloneDroite">
              <h3>Grands groupes, PME, commerçants</h3>
              <h4>Devenez Partenaire d’un projet ODYSSÉE (ex : repas des Chefs, BD, colloque…)
              </h4>
              <p>- Visibilité de votre partenariat et présence de votre logo sur la communication du projet choisi
                <br>
                <br> - Invitations pour vos collaborateurs sur le projet soutenu</p>
                <a href="formulairepartenaireprojet.php">
                  <img class="boutform" src="/img/logo/Logo_bouton.png" alt="Logo Odyssée">
                  <p class="lienimp">cliquez vers le formulaire</p>
                </a>
            </div>
          </div>
        </div>
      </div>
      <p class="clausedeloi">
        <br>
        <br>
        <br>
        <br> Dans le cadre de la loi du 1er août 2003 sur le mécénat d’entreprise, vos contributions sont défiscalisables à hauteur
        de 60%, dans la limite de 5 pour 1 000, de votre chiffre d’affaires annuel hors taxe (plafond appliqué à l’ensemble
        des versements effectués à l’association Euralens)</p>

    </div>
    </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  </select>
  </div>
{% endblock %}