{% extends 'base.html.twig' %}

{% block body %}
 <!-- Image haut de page -->
    <section class="contentodyssee">
        <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
        <img class="imglogo" src="/img/pgaccueil/Logo Odyssée.png" alt="Logo Odyssée">
        <div id="sejour">
        </div>
    </section>

    <!-- Infos pratiques et offices du tourisme -->
    <section class="container">
        <div class="row2">
            <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:#bad89f;">
                <h2>C’est un parcours de 10 ans, de 2009 à 2019</h2>
                <p>Avec de grandes transformations pour le Bassin minier du Pas-de-Calais :
                    Louvre-Lens, inscription du Bassin minier au Patrimoine mondial, la Chaîne des
                    parcs, plus de 50 projets labellisés Euralens…</p>
                <h2>C’est un voyage dans un archipel</h2>
                <p>Un archipel noir et vert, celui de la Chaîne des parcs
                    L’exploration d’un territoire métropolitain incluant Béthune-Bruay, Lens-Liévin
                    et Hénin-Carvin : 10% de la population des Hauts-de-France, + de 650 000
                    habitants
                    Un héritage commun reconnu par l’UNESCO, un paysage culturel en constante
                    évolution</p>
                    <h2>C’est une étape, une vitrine</h2>
                    <p>Pour les habitants et en particulier les jeunes
                    Pour les entreprises, pour les investisseurs, pour les touristes</p>
                    <h2>C’est un lien intime avec le Louvre-Lens</h2>
                    <p>Depuis 2009 avec la pose de la première pierre du musée et le lancement de la
                       dynamique Euralens
                        En 2019 avec l’exposition temporaire dédiée à Homère</p>
                        <br>
                        <br>

                <img src="/img/pgodyssee/Lewarde.jpg" alt="photo Chaîne des Terrils">
                
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4" style="background-color: #9fcfe1;">
                <h3>Quelques exemples de réalisations :</h3>
                    <img class="realisation" src="/img/pgodyssee/Arkeos.jpg"alt="arkéos">
                    <br>
                    <p>Arkéos à Douai (2014)</p>
                    <img class="realisation" src="/img/pgodyssee/LensAmenagement.jpg"alt="amenagement lens">
                    <br>
                    <p>Aménagement de la ville de Lens</p>
                    <img class="realisation" src="/img/pgodyssee/campusEuralogitics.jpg"alt="campus euralogistic">
                    <br>
                    <p>Campus Euralogistic (2012)</p>
                    <img class="realisation" src="/img/pgodyssee/RCLens.jpg"alt="RCLENS">
                    <br>
                    <p>Rénovation du stade Bollaert-Delelis (2016)</p>
                   
                </div>
        </div>
    </section>





{% endblock %}