{% extends 'base.html.twig' %}

{% block body %}
  <!-- Logos partenaires -->
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://www.service-public.fr/" target="_blank">
                        <img src="img/pgpartenaires/État.png" alt="logo de la République Française">
                    </a>    
                </li>
                <li class="list-group-item">
                    <a href="http://polemetropolitainartois.fr/" target="_blank">
                        <img src="img/pgpartenaires/logo_pole_metropolitain_artois ok-01.png" alt="logo Pôle Métropolitain Artois">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.bethunebruay.fr/" target="_blank">
                        <img src="img/pgpartenaires/CA-bethune-bruay.png" alt="logo communauté de communes Béthune Bruay">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.missionbassinminier.org/" target="_blank">
                        <img src="img/pgpartenaires/Mission Bassin.png" alt="logo Mission Bassin Minier">
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="http://www.hautsdefrance.fr/" target="_blank">
                        <img src="img/pgpartenaires/Hauts-de-France.png"  alt="logo Hauts de France">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.agglo-lenslievin.fr/" target="_blank">
                        <img src="img/pgpartenaires/Logo_CALL.jpg" alt="logo Communauté d'Agglomération de Lens Liévin">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.louvrelens.fr" target="_blank">
                        <img src="img/pgpartenaires/Louvre_Lens.png" alt="logo du Louvre Lens">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.autourdulouvrelens.fr/" target="_blank">
                        <img src="img/pgpartenaires/ALL blanc.jpg" alt="logo Autour du Louvre Lens">
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="http://www.pasdecalais.fr/"target="_blank">
                        <img src="img/pgpartenaires/Pas_de_Calais_Le_Département.png" alt="logo du département Pas de Calais">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.agglo-henincarvin.fr/" target="_blank">
                        <img src="img/pgpartenaires/logo-CAHC.jpg" alt="logo Communauté d'Agglomération d'Hénin Carvin">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.bassinminier-patrimoinemondial.org/" target="_blank">
                        <img src="img/pgpartenaires/Bassin minier UNESCO.png" alt="logo Bassin Minier UNESCO">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.euralens.org/actions/la-chaine-des-parcs.html" target="_blank">
                        <img src="img/pgpartenaires/Chaîne_des_parcs_vertical.jpg" alt="logo Chaîne des Parcs">
                    </a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}