{% extends 'base.html.twig' %}
{% block body %}
<!-- Image haut de page -->
    <section class="contentprog">
        <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
        <div id="prog">
            <h1>PROGRAMME</h1>
        </div>
    </section>

<!-- Téléchargement pdf -->
    <section class="contentpdf">
        <div>
            <a class="button1" href="img/pgprogramme/Odyssée.pdf">Télécharger le programme</a> 
        </div>
    </section>

{% endblock %}  