{% extends 'base.html.twig' %}
{% block body %}
 <!-- Image haut de page -->
    <section class="contentsejour">
        <img class="deco_car hue-rotate" src="/img/pgaccueil/logo base terril.png" alt="logo terril">
        <div id="sejour">
            <h1 class="sejourne">JE SÉJOURNE</h1>
        </div>
    </section>

    <!-- Infos pratiques et offices du tourisme -->
    <section class="container">
        <div class="row2">
            <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:#bad89f;">
                <h2>Chaîne des parcs</h2>
                <p>Projet défini au sein d'Euralens par le paysagiste Grand Prix de l'urbanisme Michel Desvigne, la Chaîne des
                    parcs associe les plus beaux espaces du territoire : 7 parcs s'étendant sur plus de 2 200 ha de friches
                    minières, bois et forêts, anciennes voies ferrées, canaux, etc. Illustrant la transformation du Bassin
                    minier "du noir au vert", elle souligne des paysages remarquables tout en traversant les villes. Elle
                    constitue un formidable terrain de jeux : sports extrêmes, découverte du patrimoine, de la faune et de
                    la flore, lieux de circulation douce, de détente, de loisirs ou de balades.</p>
                <img src="img/pgsejourne/chaine-terrils.jpg" alt="photo Chaîne des Terrils">
                <img src="img/pgsejourne/chaine-trerrils2.jpg" alt="photo de parapentes">
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4" style="background-color: #9fcfe1;">
                <h3>Découvrez la destination Autour du Louvre Lens</h3>
                <a href="http://www.autourdulouvrelens.fr/" target="_blank">
                    <img class="logoOT" src="img/pgsejourne/ALL blanc version intermédiaire.jpg" alt="logo Autour du Louvre Lens">
                </a>    
                <h3>Office du Tourisme Lens-Liévin</h3>
                <a href="http://www.tourisme-lenslievin.fr/" target="_blank">
                    <img class="logoOT" src="img/pgsejourne/OTLens-Lievin.png" alt="logo Office du Tourisme Lens Liévin">
                </a>
                    <h3>Office du Tourisme Bétnune-Bruay</h3>
                <a href="https://www.tourisme-bethune-bruay.fr/" target="_blank">    
                    <img class="logoOT" src="img/pgsejourne/OTBethune-Bruay.png" alt="logo Office du Tourisme Béthune-Bruay">
                </a>
            </div>
        </div>
    </section>

{% endblock %}
